<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{%block titulo1%}{%endblock%}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{{ url_for('static',filename='templatemo_style.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div id="templatemo_header">

    <div id="site_title" >
        {%block titulo2%}
        {%endblock%}
    </div>
    
    <div id="templatemo_menu">
    
        <ul>
            <li><a href="/"><span></span>INICIO</a></li>
            <li><a href="/juegos"><span></span>BUSQUEDA</a></li>
        </ul>    	
    
    </div> <!-- end of templatemo_menu -->
    
</div> <!-- end of templatemo_header -->

<div id="templatemo_middle">

	<div id="mid_left">
        {%block imagen%}
        {%endblock%}
    </div>
    
    <div align="justify">
    	<h2>{%block titulo3%}{%endblock%}</h2>
        {%block contenido%}{%endblock%}
    </div>

</div> <!-- end of templatemo_middle -->

</body>
</html>