{% extends "base.html" %}
{%block titulo1%}
{% for a in lista -%}
{{a.nombre}}
{% endfor -%}
{%endblock%}
{%block titulo2%}
    <h1><a href="#">CONTACTOS<strong></strong><span>PROYECTO MSX</span></a></h1>
{%endblock%}
{%block titulo3%}
    {% for a in lista -%}
    <a>{{a.nombre}}</a>
    {% endfor -%}
{%endblock%}
{%block contenido%}

    {% for a in lista -%}
    <a>ID:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.id}}</a> <br>
    <a>NOMBRE:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.nombre}}<br>
    <a>DISTRIBUIDOR:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.distribuidor}}<br>
    <a>DESARROLLADOR:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.desarrollador}}<br> 
    <a>CATEGORIA:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.categoria}}<br>
    <a>AÑO:</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a>{{a.año}}<br>
    {% endfor -%}
    <br>

    <a href="/juegos">PAGINA JUEGOS</a>
 
{%endblock%}
